@Model IEnumerable<RedditData.Models.StockTickerUi>

@{
    ViewData["Title"] = "Trending Stock Tickers";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="container">
  <div class="row row-cols-1">
    @foreach (var rd in Model.Tickers)
    {
      <div class="col mb-1">
        <div class="card h-100" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">@rd.StockTickerId</h5>
            <p class="card-text">@rd.SecurityName</p>
            <p class="card-text">Count of occurences in date range: @rd.CountOfOccurences</p>
            @{string style = rd.VolumeIncrease > 0 ? "color:green" : "color:red";}
            <p class="card-text" style="@style">Change in Volume: @rd.VolumeIncrease%</p>
            @Html.ActionLink($"{@rd.StockTickerId} on Robinhood", "RedirectToRobinhood", "RedditData", new { ticker = rd.StockTickerId }, new { target="_blank", @class="btn btn-primary" })
            @* <a href='@string.Format("https://robinhood.com/stocks/{0}", rd.StockTickerId)' class="btn btn-primary" target="_blank">@rd.StockTickerId on Robinhood</a> *@
          </div>
        </div>
      </div>
    }
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>