@using System.Globalization
@model StockTickerUi.Models.StockTickerView

@{
    ViewData["Title"] = "Trending Stock Tickers";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div style="width:100%; text-align:center; margin-bottom: 10px;">
  <div class="dropdown" style="display:inline-block;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Source Selection
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      @Html.ActionLink("All", "Index", "StockTicker", new { page = 0 }, new { @class="dropdown-item" })
      @Html.ActionLink("Twitter", "Index", "StockTicker", new { page = 0, source="twitter" }, new { @class="dropdown-item", aria_labelledby="dropdownMenuButton" })
      @Html.ActionLink("Reddit", "Index", "StockTicker", new { page = 0, source="reddit" }, new { @class="dropdown-item", aria_labelledby="dropdownMenuButton" })
    </div>
  </div>
  <div class="dropdown" style="display:inline-block;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Time Selection
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      @Html.ActionLink("24 hours", "Index", "StockTicker", new { page = 0, timeFrame="oneDay" }, new { @class="dropdown-item" })
      @Html.ActionLink("48 hours", "Index", "StockTicker", new { page = 0, timeFrame="twoDays" }, new { @class="dropdown-item", aria_labelledby="dropdownMenuButton" })
      @Html.ActionLink("1 week", "Index", "StockTicker", new { page = 0, timeFrame="oneWeek" }, new { @class="dropdown-item", aria_labelledby="dropdownMenuButton" })
    </div>
  </div>
</div>


<div class="container">
  <div class="row row-cols-1">
    @foreach (var rd in Model.Tickers)
    {
      <div class="col mb-1">
        <div class="card h-100" style="width: 15rem;">
          <div class="card-body">
            <h5 class="card-title">@rd.NasdaqSymbol</h5>
            <p class="card-text">@rd.SecurityName</p>
            <p class="card-text">Count of occurences in date range: @rd.CountOfOccurences</p>
            @{string style = rd.DailyChangeInVolume > 0 ? "color:green" : "color:red";}
            <p class="card-text" style="@style">Change in Volume: @rd.DailyChangeInVolume%</p>
            @Html.ActionLink($"{@rd.NasdaqSymbol} on Robinhood", "RedirectToRobinhood", "StockTicker", new { ticker = rd.NasdaqSymbol }, new { target="_blank", @class="btn btn-primary" })
          </div>
        </div>
      </div>
    }
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    @{string disabled = Model.Page == 0 ? "disabled" : ""; }
    <li class="page-item @disabled">
      @Html.ActionLink("First", "Index", "StockTicker", new { page = 0 }, new { @class="page-link @disabled" })
    </li>
    <li class="page-item @disabled">
      @Html.ActionLink("Previous", "Index", "StockTicker", new { page = Model.Page - 1 }, new { @class="page-link @disabled" })
    </li>
    <li class="page-item disabled">
      @Html.ActionLink($"{@Model.Page + 1}", "Index", "StockTicker", new { page = Model.Page }, new { @class="page-link" })
    </li>
    <li class="page-item">
      @Html.ActionLink($"{@Model.Page + 2}", "Index", "StockTicker", new { page = Model.Page + 1 }, new { @class="page-link" })
    </li>
    <li class="page-item">
      @Html.ActionLink($"{@Model.Page + 3}", "Index", "StockTicker", new { page = Model.Page + 2 }, new { @class="page-link" })
    </li>
    <li class="page-item">
      @Html.ActionLink("Next", "Index", "StockTicker", new { page = Model.Page + 1 }, new { @class="page-link" })
    </li>
  </ul>
</nav>
@section Scripts
{
  <script>
    document.getElementById("startDate").addEventListener("change", function(e) {
      var splitDate = e.target.value.split('-');
      var day = parseInt(splitDate[2], 10) + 1;
      var newMinDate = `${splitDate[0]}-${splitDate[1]}-${day}`
      document.getElementById("endDate").setAttribute("min", newMinDate);
    });
    document.getElementById("endDate").addEventListener("change", function(e) {
      var splitDate = e.target.value.split('-');
      var day = parseInt(splitDate[2], 10) - 1;
      var newMaxDate = `${splitDate[0]}-${splitDate[1]}-${day}`
      document.getElementById("startDate").setAttribute("max", e.target.value);
    });

    function reloadDataWithSelectedDates() {
      var startDate = document.getElementById('startDate').value;
      var endDate = document.getElementById('endDate').value;
      console.log(startDate);
      console.log(endDate);
      window.location.href = `StockTicker/index?startDate=${startDate}&endDate=${endDate}`;
    }
  </script>
}